body {
    /* Fundo com COR */
    /* background-color: #1c5a4f !important; */
    
    /* Fundo com IMAGEM */
    background: url("../img/fundo_livro.jpg") no-repeat center center fixed;
    background-size: cover;

}

/* COR DOS TITULOS DAS PÁGINAS */
.titulo-secao {
    color: #ffffff;
}


